# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[requirements.txt]
end_of_line = crlf
trim_trailing_whitespace = false

[**.py]
end_of_line = crlf
indent_style = space
indent_size = 4
max_line_length = 79
trim_trailing_whitespace = true

[**.xml]
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

[**.{yaml,yml}]
indent_style = space
indent_size = 2
max_line_length = 100
trim_trailing_whitespace = true

[**.md]
max_line_length = 120
trim_trailing_whitespace = false

[**.rst]
end_of_line = lf
max_line_length = 100
trim_trailing_whitespace = true
