include CODE_OF_CONDUCT.md
include LICENSE
include MANIFEST.in
include README.md

exclude .*
exclude *.ini
exclude .circleci/config.yml
exclude pylintrc
include requirements.txt
exclude requirements_docs.txt
exclude requirements_test.txt
exclude shellscripts

recursive-exclude shellscripts *.sh

global-exclude __pycache__
global-exclude *.pyc

graft src
prune tests
